@page "{handler?}"
@model IndexModel
@{
    ViewData["Title"] = "Home page";

    int i = 1;
    string currentTitle = "";
}

<div class="row">
    <div class="col-md-12">
        @if (!Model.IsLoggedIn)
        {
            <form method="post" asp-page-handler="login">
                <button type="submit" id="submit" style="margin: 5px 0 0 0;">Login</button>
            </form>
        }
        else
        {
            @foreach (var quiz in Model.SpottyState.GetQuizzes())
            {
                <table width="100%" border="1" style="margin: 5px 0 15px; 0;">
                    @if (currentTitle != quiz.Title)
                    {
                        currentTitle = quiz.Title;
                        <tr>
                            <th colspan="2" style="padding: 5px;">@currentTitle</th>
                        </tr>
                    }
                    @foreach (var question in quiz.Questions)
                    {
                        var questionText = question.Question;
                        int j = 1;
                        int colspan = 2;

                        <tr>
                            @if (!string.IsNullOrWhiteSpace(question.Question))
                            {
                                colspan = 1;
                                <td width="50%" style="padding: 5px;">@questionText</td>
                            }
                            <td style="padding: 5px;" colspan="@colspan">
                                @foreach (var track in question.Tracks)
                                {
                                    var trackText = "Question ";
                                    if (question.Tracks.Count > 1)
                                    {
                                        trackText += " " + j;
                                    }
                                    <div style="float: left; margin-right: 5px;">
                                        <form method="post" asp-page-handler="play">
                                            <input type="hidden" name="track" value="@track.SpotifyUrl" />
                                            <input type="hidden" name="offset" value="@track.Offset" />
                                            <input type="hidden" name="duration" value="@track.Duration" />
                                            <button type="submit">@trackText</button>
                                        </form>
                                    </div>
                                    j++;
                                }
                            </td>
                        </tr>

                        i++;
                    }
                </table>
            }
        }
    </div>
</div>