@page "{handler?}"
@model IndexModel
@{
    ViewData["Title"] = "Home page";

    string currentTitle = "";
}

<div class="row">
    <div class="col-md-12">
        @if (!Model.IsLoggedIn)
        {
            <form method="post" asp-page-handler="login">
                <button type="submit" id="submit" style="margin: 5px 0 0 0;">Login</button>
            </form>
        }
        else
        {
            @foreach (var quiz in Model.SpottyState.GetQuizzes())
            {
                int i = 1;
                
                @if (currentTitle != quiz.Title)
                {
                    currentTitle = quiz.Title;

                    <div style="clear: both; margin-bottom: 10px;">
                      <h3 style="margin: 10px 0px 0px 0px; padding: 0;">@currentTitle.Substring(0, currentTitle.IndexOf("!"))</h3>
                      <span>@currentTitle.Substring(currentTitle.IndexOf("! ") + 2)</span>
                    </div>
                }

                @foreach (var question in quiz.Questions)
                {
                    var questionText = question.Question;
                    int j = 1;

                    @if (!string.IsNullOrWhiteSpace(question.Question))
                    {
                      <div style="clear: both"><h4 style="margin: 0px; padding: 0px;">@questionText</h4></div>
                    }

                    @foreach (var track in question.Tracks)
                    {
                        var questionButtonText = "Question " + i;
                        if (question.Tracks.Count > 1)
                        {
                            questionButtonText += "." + j;
                        }

                        <div style="float: left; margin: 0px 5px 10px 0px">
                            <form method="post" asp-page-handler="play">
                                <input type="hidden" name="track" value="@track.SpotifyUrl" />
                                <input type="hidden" name="offset" value="@track.Offset" />
                                <input type="hidden" name="duration" value="@track.Duration" />
                                <button type="submit">@questionButtonText</button>
                            </form>
                        </div>
                        j++;
                    }

                    i++;
                }
            }
        }
    </div>
</div>