@page "{handler?}"
@model IndexModel
@{
    ViewData["Title"] = "Home page";

    string currentTitle = "";
}

<script type="text/javascript">
    var urlParams = new URLSearchParams(window.location.search);
    var duration = urlParams.get('duration')
    if (duration) {
        setTimeout(function() {
            fetch('/pause');
        }, duration);
    }
</script>

<div class="row">
    <div class="col-md-12">
        @foreach (var round in Model.Rounds.OrderBy(q => q.Title))
        {
            @if (currentTitle != round.Title)
            {
                currentTitle = round.Title;

                <div style="clear: both; margin-bottom: 10px;">
                  <h3 style="margin: 10px 0px 0px 0px; padding: 0;">@currentTitle</h3>
                </div>
            }

            int i = 1;
            @foreach (var track in round.Tracks)
            {
                var questionButtonText = "";
                if(track.Group > 0)
                {
                    questionButtonText += $"Group {track.Group}: ";
                }
                questionButtonText += "Track " + i;

                <div style="float: left; margin: 0px 5px 10px 0px">
                    <form method="get" asp-page-handler="play">
                        <input type="hidden" name="edition" value="@Model.Edition" />
                        <input type="hidden" name="track" value="@track.SpotifyUrl" />
                        <input type="hidden" name="offset" value="@track.Offset" />
                        <input type="hidden" name="duration" value="@track.Duration" />
                        <button type="submit">@questionButtonText</button>
                    </form>
                </div>
                i++;
            }
        }
    </div>
</div>